<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::#content},~{::title})}">>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Bhajan</title>
</head>
<body>

<div id="content">

  <h1 id="bhajantitle">महाराजांची भाषणे</h1>


<table class="bhajan-table">
  <thead>
  <tr>
    <th>Index</th>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td><a href="">मध्यप्रदेश मधील नेपनानगर येथे २७/०५/१९६५ मध्ये दिलेले भाषण</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href="">नेपनानगर येथे २६/०५/१९६५ ला शारदा उत्सवाच्या निमित्ताने झालेलं भाषण.</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href="">मध्यप्रदेश मधील सिवनी- मालवा येथील २९/०५/१९६५ मध्ये झालेलं भाषण</a></td>
  </tr>
  </tbody>
</table>


</div>

</body>
</html>
