<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ग्रामगीता</title>
</head>
<body>

<div id="content">

<h1 id="gramtitle">ग्रामगीता</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Adhyay Title</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>भागवत अध्याय 1</td>
    <td>श्री-धाम</td>
  </tr>
  <tr>
    <td>भागवत अध्याय 2</td>
    <td>परमात्मा</td>
  </tr>
  <tr>
    <td>भागवत अध्याय 3</td>
    <td>अधिदेवता</td>
  </tr>
  <tr>
    <td>भागवत अध्याय 4</td>
    <td>भक्तिरस</td>
  </tr>
  <tr>
    <td>भागवत अध्याय 5</td>
    <td>राधा-रास</td>
  </tr>
  <!-- Add more rows as needed -->
  </tbody>
</table>

</div>

</body>
</html>
