<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::#content},~{::title})}">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bhajan</title>
</head>
<body>

<div id="content">


        <h1 id="hamaretitle">संपर्क</h1>

    <section class="contact-section">
        <div class="contact-box">
            <p><strong>हेमंत टाले</strong></p>
            <p>संपर्क - +91 9975807632</p>

            <p><strong>अंकुश विलायतकर</strong></p>
            <p>संपर्क - +91 7709131073</p>

            <p><strong>Email:</strong> admin@tukdyadas.in</p>
        </div>
    </section>


</div>

</body>
</html>
