<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::#content},~{::title})}">>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Bhajan</title>
</head>
<body>

<div id="content">


    <h1 id="sahityatitle">साहित्य</h1>


  <table class="styled-table">
    <thead>
    <tr>
      <th class="header-cell">Index</th>
      <th class="header-cell">Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="body-cell">1</td>
      <td class="body-cell">ग्रामीणगीता</td>
    </tr>
    <tr>
      <td class="body-cell">2</td>
      <td class="body-cell">भजन</td>
    </tr>
    <tr>
      <td class="body-cell">3</td>
      <td class="body-cell">सुविचार स्मरणी</td>
    </tr>
    <tr>
      <td class="body-cell">4</td>
      <td class="body-cell">श्लोक (मराठी)</td>
    </tr>
    <tr>
      <td class="body-cell">5</td>
      <td class="body-cell">श्लोक (हिंदी)</td>
    </tr>
    <tr>
      <td class="body-cell">6</td>
      <td class="body-cell">राष्ट्रसंतांची भाषणे</td>
    </tr>
    <tr>
      <td class="body-cell">7</td>
      <td class="body-cell">युगप्रभात</td>
    </tr>
    <tr>
      <td class="body-cell">8</td>
      <td class="body-cell">सुधा सिंधु की लहरे १</td>
    </tr>
    <tr>
      <td class="body-cell">9</td>
      <td class="body-cell">सुविचार स्मरणी भाग २</td>
    </tr>
    <tr>
      <td class="body-cell">10</td>
      <td class="body-cell">राष्ट्रसंतांची प्रवचने</td>
    </tr>
    <tr>
      <td class="body-cell">11</td>
      <td class="body-cell">मेरी जपान यात्रा</td>
    </tr>
    </tbody>
  </table></div>

</body>
</html>
